*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202733;
    height: 100vh;
    
}

.advice-box{
    background-color: #313A48;
    height: 350px;
    width: 540px;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.10); 
    border-radius: 15px;

}

.box-text h5{
    color: #53FFAA;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    letter-spacing: 4.09px;
    text-align: center;
    padding-top: 10%;
}

.box-text p{
    color: #CEE3E9;
    font-size: 32px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 30px;
}

.sect2{
    display: flex;
    justify-content: center;
}

.horizontal-line {
    border-top: 1px solid #4F5D74;

    margin: 10px 0; 
    width: 40%;
}

.box-text i{
    color: #CEE3E9;
    text-align: center;
    margin: 0 10px;
    font-weight: 800;
    font-size: 25px;
}


@media only screen and (max-width:800px){
    .box-text p{
        color: #CEE3E9;
        font-size: 30px;
    }
    
}